@using ALEXFW.Entity.UserAndRole;
@{
    var member = (Member)Session["member"];
}

<ol class="breadcrumb">
    <li>
        <a href="@Html.Raw(Url.Action("Index", "member"))">会员列表</a>
    </li>
    <li class="active">会员卡列表</li>
</ol>

<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <!-- Default panel contents -->
                <div class="panel-heading">
                    &nbsp;
                    <a href="@Html.Raw(Url.Action("Create"))" class="btn btn-default pull-right" style="margin-top: -7px;" >添加会员卡</a>

                </div>
            </div>

        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td title="会员卡号">会员卡号</td>
                <td title="是否激活">是否激活</td>
                <td title="操作">操作</td>
            </tr>
        </thead>

        @{
            if (member.MemberCards == null)
            {

            }
            else
            {
                <tbody>
                    @foreach (var item in member.MemberCards)
                    {
                        <tr>
                            <td>@item.CardNumber</td>

                            <td>@item.IsActivate</td>

                            <td class="text-center" style="width: 64px;">
                                <div class="btn-group btn-group-xs">
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a class="btn" href="@Html.Raw(Url.Action("NotActivated", new {id = item.Index}))"><i class="glyphicon glyphicon-edit"></i>挂失</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            }
        }

    </table>

</div>